[Desktop Entry]
Type=Application
Name=DaVinci Resolve
GenericName=DaVinci Resolve
Comment=Revolutionary new tools for editing, visual effects, color correction and professional audio post production, all in a single application!
Exec=launcher.sh %U
Terminal=false
MimeType=application/x-resolveproj;
Icon=com.blackmagicdesign.Resolve
Categories=AudioVideo;Video;Graphics;
Name[en_US]=DaVinci Resolve

